.titlePageContainer {
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
    .titlePageContainer {
        grid-template-columns: 1fr 1fr;
    }
}

.map {
    width: 100%;
    height: 350px;
}